<p>display-wallets works!</p>

<div>
    <h3> Admin view of all wallets:</h3>

    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Amount</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let wallet of wallets">
            <td>{{wallet.name}}</td>
            <td>{{wallet.email}}</td>
            <td>{{wallet.balance}}</td>
            <td> <button (click)="deleteUser(wallet.email)"> Delete</button></td>
            
        </tr>
    </table>

</div>