<a routerLink="">Home</a> <br>
<a routerLink="/login">Login</a> <br>
<a routerLink="/wallets">Display Wallets</a> <br>
<a routerLink="/wallet/add">Add Wallet</a> <br>




<router-outlet></router-outlet>

<!-- <h3> Serach product By name:</h3>
<form>
  <input type="text" id="query" 
  name="query" [(ngModel)]="query">
  <input type="button" (click)="applyFilter()" value="Search">
</form>
{{query}}


<h3> Sorted array of products</h3>
<h3> Unsorted products</h3>
  <table >
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
    <tr *ngFor="let product of products 
    | search: filterQuery ">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      
    </tr>
    <h3> Sorted products </h3>
  </table>
  <table >
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
    <tr *ngFor="let product of products | sortProduct :'price'">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      
    </tr>
  </table>

<h3> Custom uppcase pipe</h3>
{{title | customUpperCase:'*' }}<br>
{{title | customUpperCase:'#':'@' }}<br>
{{title | customUpperCase }}<br>
<h3> custom Square pipe</h3>
{{ 5 | square}}
<h3> Custom array sum pipe</h3>
{{values | arraySum }}
<hr>

{{title | uppercase}}
<br>
{{title | lowercase}}
<br>
{{title | titlecase}}
<h3> Date pipe</h3>
{{today}}<br>
{{today | date }} <br>
Short: {{today | date:"short" }} <br>
medium: {{today | date:"medium" }} <br>
long: {{today | date:"long" }} <br>
full: {{today | date:"full" }} <br>

MediumTime: {{today | date:"mediumTime" }} <br>

<h3> decimalPipe</h3>
{{pi}}<br>
{{pi | number}}<br>
{{pi | number : '2.2-2'}}<br>
{{pi | number : '2.0-0'}}<br>

{{pi | number : '2.0-2'}}<br>
<h3> Currency pipe</h3>
{{price}}
{{price|currency}}<br>
{{price|currency:'USD'}}<br>
{{price|currency:'INR'}}<br>
{{price|currency:'EUR':'symbol':'2.0-0'}}<br>

{{price|currency:'EUR':'code':'2.0-0'}}<br>
{{price|currency:'USD':'symbol-narrow':'2.0-0'}}<br>
<h3>Json pipe</h3>

{{employee}}<br>
{{employee | json}}<br>
{{employee | json | uppercase}}
<h3> Pipe chain</h3>
full: {{today | date:"full" }} <br>
full: {{today | date:"full" | uppercase }} <br>

<app-login></app-login>
 <app-registration></app-registration>
 
<app-admin-login></app-admin-login>
<h1> My new Angular app !</h1>

<h3> Data binding in Angular</h3>
<p> Interpolation </p>
{{title}}<br>
Name: {{name }}
Pi = {{pi}}
height * width = {{height + width}}
employee:<br>
<h3>Employee table</h3>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
  </tr>
  <tr>
    <td>{{employee.id}}</td>
    <td>{{employee.name}}</td>
    <td>{{employee.email}}</td>
  </tr>
</table>
<h3> Property binding</h3>
<img [src]="imageUrl" alt="w3Schools image">

<form>
  Name:
  <input type="text" name="name" [(ngModel)]="name"><br>
  <input [type]="inputType" [disabled]="isDisabled" [value]="buttonValue" (click)="login()">
</form>

name: {{name}}

<h1>Structural directive *ngIf </h1>
<div *ngIf="isEligible">
  <h1>My division </h1>
  <p> Conditional paragraph</p>
</div>
<div>
  <div *ngIf="isEligible; else elseBlock">
    <p>True paragraph</p>
  </div>
  <ng-template #elseBlock>
    <p>Alternate text while primary text is hidden</p>
  </ng-template>
</div>



<form>
  <input type="button" value="toggle div" (click)="toggleDiv()">
</form>

<h1>Structural directive *ngFor </h1>
<p *ngFor="let name of names">{{name}} </p>
<div>
  <h1>List of Laptops</h1>
  <p *ngIf="products[0].id ==null">No Laptops found </p>
  <table *ngIf="products[0].id !==null">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
    <tr *ngFor="let product of products">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      
    </tr>
  </table>
</div> -->