<app-login></app-login>
<app-registration></app-registration>

<h1> My new Angular app !</h1>

<h3> Data binding in Angular</h3>
<p> Interpolation </p>
{{title}}<br>
Name: {{name }}
Pi = {{pi}}
height * width = {{height + width}}
employee:<br>
<h3>Employee table</h3>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Email</th>
  </tr>
  <tr>
    <td>{{employee.id}}</td>
    <td>{{employee.name}}</td>
    <td>{{employee.email}}</td>
  </tr>
</table>
<h3> Property binding</h3>
<img [src]="imageUrl" alt="w3Schools image">

<form>
  Name:
  <input type="text" name="name" [(ngModel)]="name"><br>
  <input [type]="inputType" [disabled]="isDisabled" [value]="buttonValue" (click)="login()">
</form>

name: {{name}}

<h1>Structural directive *ngIf </h1>
<div *ngIf="isEligible">
  <h1>My division </h1>
  <p> Conditional paragraph</p>
</div>
<div>
  <div *ngIf="isEligible; else elseBlock">
    <p>True paragraph</p>
  </div>
  <ng-template #elseBlock>
    <p>Alternate text while primary text is hidden</p>
  </ng-template>
</div>



<form>
  <input type="button" value="toggle div" (click)="toggleDiv()">
</form>

<h1>Structural directive *ngFor </h1>
<p *ngFor="let name of names">{{name}} </p>
<div>
  <h1>List of Laptops</h1>
  <p *ngIf="products[0].id ==null">No Laptops found </p>
  <table *ngIf="products[0].id !==null">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Price</th>
    </tr>
    <tr *ngFor="let product of products">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      
    </tr>
  </table>
</div>